<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <%- include("../shared/head.ejs") %>
    </head>
    <body>
        <div class="background-image">
        <%- include("../shared/header.ejs") %>
        <h1 class="lobby-title">Login</h1>
        
        <% if (locals.error && error !== undefined) { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>
        <form class="login-form" action="/auth/login" method="POST">
            <div class="auth-form-group">
                <label for="email" class="auth-label">Email:</label>
                <input type="email" class="auth-input" id="email" name="email" required>
            </div>

            <div class="auth-form-group">
                <label for="password" class="auth-label">Password:</label>
                <input type="password" class="auth-input" id="password" name="password" required>
            </div>
            
            
            <button class="login-button" type="submit">Login</button>
        </form>
        <p class="auth-create-account">Don't have an account? <a href="/auth/register">Register here</a></p>
        </div>

        <script>
            const emailInput = document.getElementById("email");
            const passwordInput = document.getElementById("password");
            const loginButton = document.querySelector(".login-button");

            // Enable the button only if both fields are filled
            function toggleLoginButton() {
                loginButton.disabled = !(emailInput.value && passwordInput.value);
            }

            emailInput.addEventListener("input", toggleLoginButton);
            passwordInput.addEventListener("input", toggleLoginButton);
        </script>
    </body>
</html>