<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
        <%- include("../shared/head.ejs") %>
    </head>
    <body>
        <div class="background-image">
        <%- include("../shared/header.ejs") %>
        <h1 class="lobby-title">Register</h1>

        <% if (locals.error && error !== undefined) { %>
            <div class="error-message">
                <%= error %>
            </div>
        <% } %>

        <form class="login-form" action="/auth/register" method="POST" enctype="multipart/form-data">

            <div class="auth-form-group">
                <label for="username" class="auth-label">Username:</label>
                <input type="text" class="auth-input" id="username" name="username" required>
            </div>
            <div class="auth-form-group">
                <label for="email" class="auth-label">Email:</label>
                <input type="email" class="auth-input" id="email" name="email" required>
            </div>
            <div class="auth-form-group">
                <label for="password" class="auth-label">Password:</label>
                <input type="password" class="auth-input" id="password" name="password" required>
            </div>
            <div class="auth-form-group">
                <label for="profilePic" class="auth-label">Profile Picture:</label>
                <input type="file" class="auth-input" id="profilePic" name="profilePic" accept="image/*">
            </div>
            <button class="login-button" type="submit">Register</button>
        </form>
        <p class="auth-create-account">Already have an account? <a href="/auth/login">Login here</a></p>
        </div>
    </body>
</html>
