<header class="navbar">
  <div class="navbar-left">
    <nav>
      <a href="/lobby">Lobby</a>
    </nav>
  </div>
  <div class="navbar-right">
    <div class="user-info">
      <span id="user-balance" class="user-balance">$0</span>
      <img src="/images/<%= locals.user?.profile_pic || 'default.png' %>" 
           alt="Profile Picture" 
           class="profile-picture">
      <span class="username"><%= locals.user?.username || 'Guest' %></span>
      <a href="/auth/logout">Logout</a>
    </div>
  </div>
</header>
