<nav class="navbar">
  <a href="/">Home</a>

  <div class="navbar-right">
    <% if (currentUser && currentUser.profile_pic) { %>
      <img src="/images/<%= currentUser.profile_pic %>" class="profile-picture">
    <% } %>

    <% if (currentUser) { %>
      <a href="/auth/logout">Logout</a>
    <% } else { %>
      <a href="/auth/login">Login</a>
    <% } %>
  </div>
</nav>
