<nav class="navbar">
  <div class="navbar-left">
      <a href="/">Home</a>
      <a href="/lobby">Lobby</a>
  </div>


  <div class="navbar-right">
    <% if (currentUser && currentUser.profile_pic) { %>
      <img src="/images/<%= currentUser.profile_pic %>" class="profile-picture">
    <% } %>

    <% if (currentUser) { %>
      <a href="/auth/logout">Logout</a>
    <% } else { %>
      <a href="/auth/login">Login</a>
    <% } %>
  </div>
</nav>
