<nav class="navbar">
  <div class="navbar-left">
      <a href="/">Home</a>
      <a href="/lobby">Lobby</a>
  </div>


  <% if (currentUser) { %>
    <a href="/auth/logout">Logout</a>
  <% } else { %>
    <a href="/auth/login">Login</a>
  <% } %>
</nav>