<div id="create-game-container">
  <form class="create-game-form-container" method="post" action="/games/create">
    <a href="#" id="close-create-game-form">
      <!-- NEED TO ADD ICON HERE -->
      <i class="nf nf-md-close_circle_outline"></i>
    </a>
    <div class="auth-form-group">
      <label class="create-label" for="description">Description</label>
      <input
        type="text"
        id="description"
        name="description"
        placeholder="Optional game description"
        class="create-game-input"
      />
    </div>
    <div class="auth-form-group">
      <label class="create-label" for="min-players">Min players</label>
      <input type="number" id="min-players" max="4" min="2" name="minPlayers" value="2" class="create-game-input" />
    </div>
    <div class="auth-form-group">
      <label class="create-label" for="max-players">Max players</label>
      <input type="number" id="max-players" max="4" name="maxPlayers" value="4" class="create-game-input" />
    </div>
    <div class="auth-form-group">
      <label class="create-label" for="password">Password</label>
      <input
        type="text"
        id="password"
        name="password"
        placeholder="Optional password"
        class="create-game-input mb-2"
      />
    </div>
    <button id="create-game-button" class="create-game-button" type="submit">Create Game</button>
  </form>
</div>